
Background_Data/RAIS_data/RR2016.Rda
Background_Data/RAIS_data/AC2016.Rda
Background_Data/RAIS_data/AL2016.Rda
Background_Data/RAIS_data/AM2016.Rda
Background_Data/RAIS_data/AP2016.Rda
Background_Data/RAIS_data/BA2016.Rda
Background_Data/RAIS_data/CE2016.Rda
Background_Data/RAIS_data/DF2016.Rda
Background_Data/RAIS_data/ES2016.Rda
Background_Data/RAIS_data/GO2016.Rda
Background_Data/RAIS_data/MA2016.Rda
Background_Data/RAIS_data/manipulation.R
Background_Data/RAIS_data/MG2016.Rda
Background_Data/RAIS_data/MS2016.Rda
Background_Data/RAIS_data/MT2016.Rda
Background_Data/RAIS_data/PA2016.Rda
Background_Data/RAIS_data/PB2016.Rda
Background_Data/RAIS_data/PE2016.Rda
Background_Data/RAIS_data/PI2016.Rda
Background_Data/RAIS_data/PR2016.Rda
Background_Data/RAIS_data/RJ2016.Rda
Background_Data/RAIS_data/RN2016.Rda
Background_Data/RAIS_data/RO2016.Rda
Background_Data/RAIS_data/RS2016.Rda
Background_Data/RAIS_data/SC2016.Rda
Background_Data/RAIS_data/SE2016.Rda
Background_Data/RAIS_data/SP2016.Rda
Background_Data/RAIS_data/TO2016.Rda
